:root {
    --accent: #ff0080;
    --accent-lt: #ff0080;
    --accent-dk: #ff0080;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background: white;
    color: var(--accent);
    font-style: italic;
    font-family: Impact;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

p {
    background: rgb(116, 73, 255);
    font-weight: bold;
    padding: 10px;
    border: 2px double black;
}

ul, dl {
    border: 2px solid var(--accent-dk);
    display: inline-block;
    padding: 20px;
}

dt {
    background: white;
    color: var(--accent);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

footer {
    background: var(--accent-dk);
    color: white;
    text-align: center;
    font-size: 0.8rem;
}